  <div class="dialog" data-trigger="#open-warning" data-type="simple" id="confirm-dialog">
  <div class="content">
    <div class="top">
      <div class="title">Do you want to remove following?</div>
    </div>
    <div class="body">
      <p>List: <br>
        <div id="selectedData">None</div>
        <input type="hidden" id="selected-rows" name="selected_rows" value="">
        <input type="hidden" id="selected-names" name="selected_names" value="">
         </p>
    </div>
    <div class="bottom">
      <a href="" class="btn" data-close="true">Cancel</a>
      <button type="submit" class="btn warning">Delete Item(s)</button>
    </div>
  </div>
</div>