  <div class="dialog" data-trigger="#decline-warning" data-type="simple" id="decline-dialog">
  <div class="content">
    <div class="top">
      <div class="title">Do you want to decline following?</div>
    </div>
    <div class="row form-body">
      <div class="column sm-12 md-12 lg-6">
      <br>
      <p>List: <br>
        <div id="selectedData-d">None</div>
        <input type="hidden" id="selected-rows-d" name="selected_rows" value="">
        <div class="form-element">
          <input type="hidden" id="selected-names-d" name="selected_names" value="">
        </div>
        <br>
        <div class="form-element">
        <label for="comment">Add comment (optional)</label>
          <textarea type="text" id="comment" name="comment" type="text"></textarea>
        </div>
      </div>
    </div>
    <div class="bottom">
      <a href="" class="btn" data-close="true">Cancel</a>
      <button type="submit" class="btn warning">Decline Item(s)</button>
    </div>
  </div>
</div>