<div class="dialog" data-trigger="#status-button" data-type="simple" id="status-dialog">
  <div class="content">
    <div class="top">
      <div class="title">This status message will be set for {{system.name}}</div>
    </div>
    <div class="body">
  
      <label for="id_message">Message:</label>
      <textarea name="message" required></textarea><br>
    </div>
    <div class="bottom">
      <a href="" class="btn" data-close="true">Cancel</a>
      <button type="submit" id="set_status" class="btn warning">Send</button>
    </div>
  </div>
</div>